.library {
    position: fixed;
    top: 0;
    left: 0;
    width: 20rem;
    height: 85.4%;
    background-color: var(--primary_background_color);
    box-shadow: 2px 2px 50px var(--library_box_shadow_color);
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: hidden;

    h2 {
        padding: 2rem;
    }
    background: linear-gradient(45deg, #2583da, transparent);
}

.b3 {
    transition: 0.2s;
    &:hover {
        color: white;
        background: black;    
    }
}

.library_song {
    display: flex;
    align-items: center;
    padding: 1rem 2rem;
    cursor: pointer;
    position: relative;

    @media screen and (min-width: 769px) {
        &:hover {
            background-color: var(--library_back_color_hover);
        }
    }

    img {
        width: 30%;
        border-radius: 0.25rem;
    }

    button {
        right: 1.4rem;
        width: 35px;
        height: 35px;
        position: absolute;
        padding: 10px;
        border-radius: 50%; 
        cursor: pointer;
        box-shadow: 0 2px 4px darkslategray;
        transition: all 0.2s ease;
        
        &:hover {
            background-color: #65b9e6;
        }

        &:active {
            box-shadow: 0 0 2px darkslategray;
            transform: translateY(2px);
        }

        #icon {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}

.library_songs {
    height: 78%;
    overflow-y: scroll;
}

.song_description {
    padding-left: 1rem;
    padding-right: 3rem;

    h4 {
        margin-bottom: 0.5rem;
        color: var(--song_description_h4_color);
    }
}

.selected_song {
    background-color: var(--selected_song_back_color);

    &:hover {
        background-color: var(--selected_song_back_color);
    }
}

* {
    scrollbar-width: thin;
    scrollbar-color: var(--scrollbar_color) transparent;
}

*::-webkit-scrollbar {
    width: 5px;
}
*::-webkit-scrollbar-track {
    background: transparent;
}
*::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar_color);
    border: transparent;
}

@media screen and (max-width: 768px) {
    .library {
        width: 100%;
    }
}
